body {
	margin: 0;
}

.header {
	background: #ff6624;
	width: 100%;
	height: 65px;
	z-index: 1;
	position: fixed;
}

.menu {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
}

.menu div {
	display: inline-block;
}

.top1 img {
	width: 12%;
	height: 12%;
}

.top1 {
	padding-top: 14px;
	padding-bottom: 14px;
	width: 20%;
	font-size: 25px;
	color: black;
	background-color: white;
	text-align: center;
	text-decoration: none;
	float: left;
    border: none;
}

.top2 {
	padding-top: 17.5px;
	padding-bottom: 17.5px;
	width: 12%;
	font-size: 20px;
	color: #606060;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	float: left;
    border: none;
}

.top2:hover {
	color: #898989;
	background-color: #333333;
    border: none;
}

.content1 {
	padding-right: 3.5%;
	float: right;
}

.top3 {
	padding-top: 17.5px;
	padding-bottom: 17.5px;
	width: 10%;
	font-size: 20px;
	background-color: #4CAF50;
    color: white;
	text-align: center;
	text-decoration: none;
	float: right;
    border: none;
}

.top3:hover {
	background-color: #3e8e41;
    border: none;
}

.boxheader {
	padding-left: 64px;
	font-size: 20pt;
}

.box1 {
	position: absolute;
	left: 55%;
	top: 30%;
	transform: translate(-50%,-50%);
	width: 250px;
	height: 150px;
	/*background-color: blue;*/
	text-align: left;
}

#BtnSave {
	margin-left: 50px;
    margin-top: 1px;
    width: 100px;
    height: 45px;   
    border: none; 
    font-size: 14px;
    font-weight: 700;
    background-color: #ff6624;
    color: white;
}

.body {
	padding-top: 64px;
	height: 100%;
}

.back {
	background-color: #ebebeb;
	width: 95%;
	height: 850px;
	margin: 0 auto;
}

.greyspace {
	background-color: #ebebeb;
	width: 95%;
	height: 30px;
	margin: 0 auto;
}

.header2 {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #aaaaaa;
	width: 90%;
	font-size: 20pt;
	margin: 0 auto;
}

.header2 img {
	width: 1.8%;
	height: 1.8%;
}

.box2 {
	background-color: white;
	/*padding-left: 20px;*/
	width: 90%;
	height: 740px;
	margin: 0 auto;
	/*z-index: 1;*/
	/*text-align-last: center;*/
}

.box2 div {
	display: inline-block;
}

.bot1 {
	width: 40%;
	height: 100%;
	float: left;
	text-decoration: none;
}

.bot2 {
	padding-top: 25px;
	padding-left: 10px;
	width: 60%;
	height: 80px;
	float: left;
	text-decoration: none;
	/*background-color: red;*/
	font-size: 30px;
	color: black;
}

.bot3 {
	padding-left: 10px;
	width: 55%;
	height: 580px;
	float: left;
	text-decoration: none;
	/*background-color: blue;*/
}

.bot31 {
	font-size: 22px;
	color: black;
}

.bot4 {
	padding-left: 10px;
	width: 30%;
	height: 580px;
	float: left;
	text-decoration: none;
	/*background-color: pink;*/
}

.bot41 {
	font-size: 22px;
	color: black;
}

.box3 {
	background-color: transparent;
	text-align: right;
	padding-right: 30px;
	/*padding-left: 20px;*/
	width: 60%;
	height: 10px;
	margin: 0 auto;
	/*background-color: red;*/
}

.reserve {
	margin-left: 35px;
    padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
	font-size: 20px;
	background-color: #ff6624;
    color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
}

.darkgreyspace {
	background-color: #aaaaaa;
	width: 90%;
	height: 10px;
	margin: 0 auto;
}

.content3 {
	padding-top: 8px;
	width: 100%;
	height: 40px;
	margin: : 0 auto;
	background-color: #333333;
}

.deep {
	width: 100%;
	margin: 0;
	position: absolute;
}

.deep div {
	display: inline-block;
}

.copyr img {
	width: 1.9%;
	height: 1.9%;
}

.copyr {
	width: 100%;
	margin: 0;
	color: #898989;
	padding-right: 10px;
	text-align: right;
}