.body {
	padding-top: 64px;
}

.bluespace {
	background-color: #d4e3fc;
	width: 95%;
	height: 20px;
	margin: 0 auto;
}

.back {
	background-color: #d4e3fc;
	width: 95%;
	height: 600px;
	margin: 0 auto;
}

.header2 {
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 5px;
	background-color: #db981a;
	color: white;
	width: 90%;
	font-size: 20pt;
	margin: 0 auto;
}

.header2 img {
	width: 2%;
	height: 2%
}

.box2 {
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	width: 90%;
	height: 200px;
	background-color: #db981a;
	margin: 0 auto;
}

@import url("http://fonts.googleapis.com/css?family=Maven+Pro");

/** {
    resize: none;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Maven Pro';
}
*/
#breadcrumb {
    font: 18px Arial, Helvetica, sans-serif;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    height: 30px;
    line-height: 30px;
    color: #9b9b9b;
    /*border: solid 1px #cacaca;*/
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#breadcrumb li {
    list-style-type: none;
    float: left;
    padding-left: 10px;
}

#breadcrumb a {
    height: 30px;
    display: block;
    background-image: url('http://cssdeck.com/uploads/media/items/5/5VfAk4P.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    text-decoration: none;
    color: #454545;
}

#breadcrumb a.menu_ack {
    color: #db981a;
}

.box4 {
    padding-left: 40%;
    /*padding-left: 20px;*/
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

.submit {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    font-size: 20px;
    background-color: #db981a;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-color: #8f6311;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.content3 {
    padding-top: 8px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #333333;
}

.deep {
    width: 100%;
    margin: 0;
    position: absolute;
}

.deep div {
    display: inline-block;
}

.copyr img {
    width: 1.9%;
    height: 1.9%;
}

.copyr {
    width: 100%;
    margin: 0;
    color: #898989;
    padding-right: 10px;
    text-align: right;
}