body {
	margin: 0;
}

.header {
	background: #ff6624;
	width: 100%;
	height: 65px;
	z-index: 1;
	position: fixed;
}

.menu {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
}

.menu div {
	display: inline-block;
}

.top1 img {
	width: 12%;
	height: 12%;
}

.top1 {
	padding-top: 14px;
	padding-bottom: 14px;
	width: 20%;
	font-size: 25px;
	color: black;
	background-color: white;
	text-align: center;
	text-decoration: none;
	float: left;
}

.top2 {
	padding-top: 17.5px;
	padding-bottom: 17.5px;
	width: 12%;
	font-size: 20px;
	color: #606060;
	background-color: #cccccc;
	text-align: center;
	text-decoration: none;
	float: left;
}

.top2:hover {
	color: #898989;
	background-color: #333333;
}

.content1 {
	float: right;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 23px;
    border: none;
    /*cursor: pointer;*/
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #cccccc}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.type3 {
	padding-top: 2px;
	float: left;
	width: 55.5%;
	color: white;
	font-size: 20px;
}

.type3 img {
	width: 26.5%;
	height: 26.5%;
}

.body {
	padding-top: 64px;
}

.greenspace {
	background-color: #aedd94;
	width: 95%;
	height: 20px;
	margin: 0 auto;
}

.back {
	background-color: #aedd94;
	width: 95%;
	margin: 0 auto;
}

.header2 {
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 5px;
	background-color: #ffa834;
	color: white;
	width: 90%;
	font-size: 20pt;
	margin: 0 auto;
}

.box2 {
	background-color: white;
	/*padding-left: 20px;*/
	width: 90%;
	height: 280px;
	margin: 0 auto;
}

.box2 div {
	display: inline-block;
}

.orangespace {
	background-color: #ffa834;
	width: 90%;
	height: 10px;
	margin: 0 auto;
}

@import url("http://fonts.googleapis.com/css?family=Maven+Pro");

/** {
    resize: none;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Maven Pro';
}
*/
#breadcrumb {
    font: 18px Arial, Helvetica, sans-serif;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    height: 30px;
    line-height: 30px;
    color: #9b9b9b;
    /*border: solid 1px #cacaca;*/
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#breadcrumb li {
    list-style-type: none;
    float: left;
    padding-left: 10px;
}

#breadcrumb a {
    height: 30px;
    display: block;
    background-image: url('http://cssdeck.com/uploads/media/items/5/5VfAk4P.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    text-decoration: none;
    color: #454545;
}

#breadcrumb a.menu_ack {
    color: #ffa834;
}

.bot1 {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 15%;
	height: 270px;
	color: #606060;
	float: left;
	text-decoration: none;
}

.bot11 {
	font-size: 20px;
	color: black;
	width: 15%;
}

.bot12 {
	font-size: 30px;
	color: #ffa834;
	width: 15%;
}

.bot2 {
	padding-top: 20px;
	padding-right: 20px;
	width: 85%;
	height: 270px;
	color: #606060;
	float: left;
	text-decoration: none;
}

.bot21 {
	font-size: 20px;
	color: black;
	width: 85%;
}

.bot22 {
	font-size: 30px;
	color: #ffa834;
	width: 85%;
}

.box3 {
	background-color: white;
	/*padding-left: 20px;*/
	width: 90%;
	margin: 0 auto;
}

.box3 div {
	display: inline-block;
}


.bot311 {
	width: 25%;
	height: 200px;
	/*background-color: blue;*/
	float: left;
}

.bot311 img {
	padding-top: 30px;
	padding-left: 10%;
	width: 100%;
}

.bot312 {
	width: 27%;
	text-align: center;
	/*background-color: #ff6624;*/
	float: left;
}

.bot321 {
	width: 25%;
	height: 200px;
	/*background-color: red;*/
	float: left;
}

.bot321 img {
	padding-top: 17px;
	padding-left: 10%;
	width: 97%;
}

.bot322 {
	width: 23%;
	text-align: center;
	/*background-color: #ff6624;*/
	float: left;
}

.bot331 {
	width: 25%;
	height: 200px;
	/*background-color: blue;*/
	float: left;
}

.bot331 img {
	padding-top: 22px;
	padding-left: 3%;
	width: 97%;
	padding-right: 5%
}

.bot332 {
	width: 24%;
	text-align: center;
	/*background-color: #ff6624;*/
	float: left;
}

.bot341 {
	width: 25%;
	height: 200px;
	/*background-color: red;*/
	float: left;
}

.bot341 img {
	padding-top: 65px;
	padding-right: 10%;
	width: 100%;
}

.bot342 {
	width: 26%;
	text-align: center;
	/*background-color: #ff6624;*/
	float: left;
}

.bot4 {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	width: 15%;
	height: 115px;
	color: #606060;
	float: left;
	text-decoration: none;
}

.bot41 {
	font-size: 20px;
	color: black;
}

.bot5 {
	padding-top: 15px;
	padding-right: 20px;
	width: 85%;
	height: 115px;
	color: #606060;
	float: left;
	text-decoration: none;
}

.bot51 {
	font-size: 16px;
	color: black;
}

.bot52 {
	background-color: #ebebeb;
	color: black;
	font-size: 16px;
	padding-left: 6px;
	width: 21%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.button {
    background-color: #db981a; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
/*    margin: 4px 2px;*/
    cursor: pointer;
}

.button2 {
	border-radius: 4px;
}

.box4 {
	background-color: transparent;
	padding-left: 40%;
	/*padding-left: 20px;*/
	width: 90%;
	height: 50px;
	margin: 0 auto;
}

.submit {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 20%;
	font-size: 20px;
	background-color: #ffa834;
    color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	border-color: #ff6624;
	border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.content3 {
    padding-top: 8px;
    width: 100%;
    height: 40px;
    margin: : 0 auto;
    background-color: #333333;
}

.deep {
    width: 100%;
    margin: 0;
    position: absolute;
}

.deep div {
    display: inline-block;
}

.copyr img {
    width: 1.9%;
    height: 1.9%;
}

.copyr {
    width: 100%;
    margin: 0;
    color: #898989;
    padding-right: 10px;
    text-align: right;
}