@using nok_cinema_web.ViewModels
@model MovieListViewModel
@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <th>
                    <h1>MOVIENAME</h1>
                </th>
                <th>
                    <h1>SHORTDESCRIPTION</h1>
                </th>
            </tr>
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <td>@item.MovieName</td>
                    <td>@item.ShortDiscription</td>
                </tr>
            }
            </table>
        </div>
    </body>
    </html>

